@font-face{
    src: url(./fonts/Tron.ttf);
    font-family: Tron;
}
@font-face{
    src: url(./fonts/CyberspaceRacewayBack-Black.ttf);
    font-family: cyberrace;
}
/* ------------------------------------------------------ */
body {
    font-family: Arial;
}
a {
    color: black;
}
a:hover {
    color: blue;
}
/* ------------------------------------------------------ */
.split {
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
.left {
    left: 0;
    /*background-color: rgb(122, 246, 180);*/
    width: 33%;
}
.middle{
    /*background-color: rgb(251, 226, 187);*/
    width: 100%;
}
.right {
    right: 0;
    /*background-color: rgb(0, 153, 255);*/
    width: 33%;
}
/* ------------------------------------------------------ */
.centered {
    font-family: cyberrace;
    position: absolute;
    background-color: rgb(255, 218, 31, 0.9);
    border-radius: 10%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.centered:hover{
    background-color: rgb(255, 218, 31);
}
.centered img {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px;
    width: 280px;
 
}
/* ------------------------------------------------------ */
.nameID{
    margin-top: 40px;
    margin-bottom: 35px;
}
/* ------------------------------------------------------ */
.groupName{
    font-family: Tron;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 82px;
    text-shadow: 5px 5px 5px rgb(255, 218, 31);
}
/* ------------------------------------------------------ */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    
  }